<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ubo_fun.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
				<key>dateExpires</key>
				<string>23-05-23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_barcode_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>772FCDA6FEAA3824E4D6C319C42C1423C24C5BAF</string>
						<key>dateExpires</key>
						<string>23-05-23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>MNGDUF24E5</string>
						<key>name</key>
						<string>Universidad Bernardo Ohiggins</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>MNGDUF24E5.com.mainlydev.ubofun</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>MNGDUF24E5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ec1debd3-bd5c-462c-a0f6-cfcee9802d0f</string>
				<key>dateExpires</key>
				<string>23-05-23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.mainlydev.ubofun</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>MNGDUF24E5</string>
				<key>name</key>
				<string>Universidad Bernardo Ohiggins</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.6</string>
		</dict>
	</array>
</dict>
</plist>
